{% extends "layout.html" %}
{% block content %}
<div class="content-section" style="position:absolute; right:300px; top:30px;height:200px; width:50%;">
    <form method="POST" action="" enctype="multipart/form-data">
        {{ form.hidden_tag() }}
        <fieldset class="form-group">
            <legend class="border-bottom mb-4">{{ legend }}</legend>

            <div class="form-group">
                {{ form.name.label(class="form-control-label") }}
                {{ form.name(class="form-control form-control-lg") }}
                
            </div>
        
        </fieldset>
        <div class="form-group">
            {{ form.submit(class="btn btn-outline-info") }}
        </div>
    </form>
</div>
{% endblock content %}