<!DOCTYPE html>
<html lang="en">
<title>Community</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Poppins">
<style>
body,h1,h2,h3,h4,h5 {font-family: "Poppins", sans-serif}
body {font-size:16px;}
.w3-half img{margin-bottom:-6px;margin-top:16px;opacity:0.8;cursor:pointer}
.w3-half img:hover{opacity:1}
</style>
<body>
  <nav class="w3-sidebar w3-red w3-collapse w3-top w3-large w3-padding" style="z-index:3;width:300px;font-weight:bold;" id="mySidebar"><br>
  <a href="javascript:void(0)" onclick="w3_close()" class="w3-button w3-hide-large w3-display-topleft" style="width:100%;font-size:22px">Close Menu</a>
  <div class="w3-container">
    <h3 class="w3-padding-64"><b>Services<br>Provided</b></h3>
  </div>
  <div class="w3-bar-block">
   <!-- <a href="#" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Home</a> -->
    <a href="save_nature.html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Save Nature</a> 
    <a href="save_water.html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Save Water</a> 
    <a href="protect_animals.html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Protect Animals</a> 
    <a href="humanitarian_value.html" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Humanitarian values</a> 
    <a href="#contact" onclick="w3_close()" class="w3-bar-item w3-button w3-hover-white">Contact</a>
  </div>
</nav>
{% block content %}{% endblock %}

<script type="text/javascript">

function onClick(element) {
  document.getElementById("img01").src = element.src;
  document.getElementById("modal01").style.display = "block";
  var captionText = document.getElementById("caption");
  captionText.innerHTML = element.alt;
}
  </script>

</body>